@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Estilos para los registros de las tabla */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #3f9fef;
    /* Azul claro */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: white;
    /* Blanco */
}

