/* Estilos para los registros de las tabla */
.table-striped tbody tr:nth-of-type(even) {
    background-color: #33aefa;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

.table-historico tbody tr:nth-of-type(even) {
    background-color: #28a745;
}

.table-resumen tbody tr:nth-of-type(even) {
    background-color: #a74545;
    color:  white;
}