td a i {
    color: #0a0a0a !important;
}

td button i {
    color: #0a0a0a !important;
}

.text-gris-claro{
    color: #666c6f !important;
}

.text-verde-claro{
    color: #28a745 !important;
}

.text-azul-claro{
    color: #64c1fa !important;
}

.text-rojo-claro{
    color: #a74545 !important;
}

.text-amarillo-claro{
    color: #e3ce40 !important;
}

.text-magenta-claro{
    color: #e340c5 !important;
}

.bg-azul-claro {
    background-color: #33aefa !important;
}

.bg-verde-claro {
    background-color: #28a745 !important;
}

.bg-rojo-claro {
    background-color: #a74545 !important;
    color: white; 
}

/* le da un color azul claro a los input cuando están en focus */
.custom-input:focus {
    background-color: #cce5ff !important;
    outline: none !important;
}