td a i {
    color: #0a0a0a !important;
}

td button i {
    color: #0a0a0a !important;
}

.bg-azul-claro {
    background-color: #2845a7 !important;
}

.bg-verde-claro {
    background-color: #28a745 !important;
}

.bg-rojo-claro {
    background-color: #a74545 !important;
    color: white; 
}

/* le da un color azul claro a los input cuando están en focus */
.custom-input:focus {
    background-color: #cce5ff;
    outline: none;
}